# ========================================================================
# Editor swap/backup files
# ========================================================================
*~
*swp

# ========================================================================
# Python compiled files
# ========================================================================
**/*.pyc

# ========================================================================
# macOS files
# ========================================================================
**/.DS_Store

# ========================================================================
# Misc configuration files
# ========================================================================
eda_user_credentials*.json
